# ----------------------------------------------------------------------------------------------
# Git Ignores @see https://github.com/github/gitignore
# ----------------------------------------------------------------------------------------------

# Application Specific
# ----------------------------------------------------------------------------------------------
**/test/**/reports
srcAgentSidebar/test/**/reports
test/functional/local.json
functional_tests/**
altered_consul_template/**
test/functional/container/functional_tests/**


# Bower / Node / Grunt / SASS
# ----------------------------------------------------------------------------------------------
node_modules
bower_components
.sass-cache
Gemfile.lock
.grunt/
**/package-lock.json

**/node_modules
**/.sass-cache
**/.tmp
**/build
*.log
dist/


# Vagrant
# ----------------------------------------------------------------------------------------------
.vagrant


# OSX
# ----------------------------------------------------------------------------------------------
.DS_Store
**/.DS_Store
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.com.apple.timemachine.supported


# Windows
# ----------------------------------------------------------------------------------------------
Thumbs.db


# SVN + Mercurial
# ----------------------------------------------------------------------------------------------
.svn/
/.hg/*
*/.hg/*
.hgignore


# Sublime / Other Editors
# ----------------------------------------------------------------------------------------------
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project
.idea
nbproject


# Tags
# ----------------------------------------------------------------------------------------------
# Ignore tags created by etags and ctags
TAGS
tags


# Vim
# ----------------------------------------------------------------------------------------------
#.*.sw[a-z]
#*.un~
Session.vim


.env
